html {
    font-family: Poppins;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
  }
  
  *,
  *:before,
  *:after {
    box-sizing: border-box;
    margin: 0;
  }

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.page {
    width: 100%;
}

.flex {
    display: flex;
}

.column {
    flex-flow: column;
}

